.dpt_icon{
	  height:18px;
	  width:18px;
	  margin-top:3px;
	  background-color:#eee;
	  -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;	
}
.dpt_icon img{
    margin:2px;	
}

.dpt_name{
	  height:24px;
	  line-height:24px;
	  cursor:pointer;
}

.dpt_name_selected{
    color:#fff;
    font-weight:bold;	
    text-shadow: 5px 5px 5px #FF0000;
}
