.Module_container{
	  float:left;
	  overflow:hidden;
	  zoom:1;
	  position: relative;
	  padding:4px;
	  margin:10px;
	  
	  border-radius: 4px;
	  -moz-border-radius: 4px; 
    -webkit-border-radius:4px;
    cursor:pointer;
}

.Module_error{
	  position: absolute; 
    top: 2;
    right: 4;
    font-size:12px;
    color:red;
}

.Module_container_mouseover{
	  border-radius: 4px;
	  -moz-border-radius: 4px; 
    -webkit-border-radius:4px;
    background-color:#ccc;
}


.Module_title{
	  float:left;
	  height: 34px;
	  line-height: 34px;
	  text-align:right;
	  color:#069;
	  font-weight:700;
	  min-width:120px;
}

.Module_content{
	  float:left;
	  height: 34px;
	  line-height: 34px;
	  
}

.Module_content_error{
    border-radius: 4px;
	  -moz-border-radius: 4px; 
    -webkit-border-radius:4px;
    border:solid #FF0000 1px;	
}

.Module_delButton{
	  margin-top:10px;
    display:none;
}


.Module_hit{
	  float:left;
	  height: 34px;
	  margin-left:12px;
}

.Module_input{
	  width:400px;
	  float:left;
	  height: 34px;
	  line-height: 34px;
	  padding:0px 10px;
	  border: 1px solid #ccc;
	  
	  border-radius: 4px;
	  -moz-border-radius: 4px; 
    -webkit-border-radius:4px;	  
}


.Module_saveButton{
    margin-top:10px;
}

.Module_saveButton:active{
    -webkit-box-shadow:0 0 4px #0CC;  
    -moz-box-shadow:0 0 4px #0CC;  
    box-shadow:0 0 4px #0CC;  
}

.Module_radiogroup_item{
	  border-right:solid 1px #dddddd;
    background-color:#f6f6f6;
    height:34px;
    line-height:34px;
    padding:0 10px;
    color:#453833;
    cursor:pointer;
    float:left;
}

.Module_radiogroup_item_first{
    -moz-border-radius:4px 0 0 4px;
    -webkit-border-radius:4px 0 0 4px;
    border-radius:4px 0 0 4px;	
}

.Module_radiogroup_item_last{
    -moz-border-radius:0 4px 4px 0;
    -webkit-border-radius:0 4px 4px 0;
    border-radius:0 4px 4px 0;	
}

.Module_radiogroup_item_selected{
    background-color:#3388cc;
    color:#FFFFFF;	
    border-right:0px;
}

.Module_select{
	  width:400px;
	  float:left;
	  height: 34px;
	  padding: 6px 12px;
	  margin:0 0 10px 5px;
	  font-size: 14px;
	  line-height: 1.42857143;
	  color:#555;
	  background-color: #fff;
	  background-image: none;
	  border: 1px solid #ccc;
	  
	  border-radius: 4px;
	  -moz-border-radius: 4px; 
    -webkit-border-radius:4px;
    
	  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	  
	  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}



.Module_date_select{
	  float:left;
	  height: 34px;
	  padding: 4px;
	  
	  font-size: 14px;
	  line-height: 1.42857143;
	  color:#555;
	  background-color: #fff;
	  background-image: none;
	  border: 1px solid #ccc;
	  
	  border-radius: 4px;
	  -moz-border-radius: 4px; 
    -webkit-border-radius:4px;
    
	  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	  
	  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.Module_date_space{
    float:left;
    height:34px;
    line-height:34px;
    padding: 0px 2px;
}


.Module_html_container{
	clear:both;
	margin:20px 10px 10px 10px;
	border-radius: 4px;
	-moz-border-radius: 4px; 
  -webkit-border-radius:4px;
	
}

.Module_html_title{
	float:left;
	color:#069;
	font-weight:700;
}

.Module_html_textarea{
	width:100%;
	min-height:300px;
}

.Module_html_hit{
	float:left;
	margin-left:32px;
}

.Module_picture_list_container{
	clear:both;
	margin:20px 10px 10px 10px;
	border-radius: 4px;
	-moz-border-radius: 4px; 
  -webkit-border-radius:4px;
  
}
.Module_picture_list_content{
	
}
.Module_picture_list_content_toolbar{

}

.Module_picture_list_content_toolbar_uploadButton{
	  float:left;
    cursor:pointer;
	  height:32px;
	  line-height:32px;
	  margin-left:48px;
	  padding:0px 10px;
	  background-color:#eee;
	  -moz-border-radius: 4px;  
    -webkit-border-radius:4px;
    border-radius:4px;
    background-color:#ccc;
}

.Module_picture_list_content_toolbar_uploadButton:hover{
	  background-color:#069;
	  color:#FFFFFF;
}

.Module_picture_list_content_toolbar_uploadButton:active{
	  -webkit-box-shadow: #666 2px 2px 2px;
    -moz-box-shadow: #666 2px 2px 2px;
    box-shadow: #666 2px 2px 2px;	
}

.Module_picture_list_picContainer{
	  width:400px;
	  height:300px;
	  float:left;
	  margin:10px;
	  -moz-border-radius: 4px;  
    -webkit-border-radius:4px;
    border-radius:4px;
    background-color:#ccc;
    position: relative;
}

.Module_picture_list_img_discription{
	  position: absolute; 
    left: 4;
    bottom: 4;
}

.Module_picture_list_img_delButton{
	  position: absolute; 
    top: 4;
    right: 4;
    display:none;
}


.Module_fieldset{
	clear:both;
	position: relative;
	margin:20px 10px 10px 10px;
	border-radius: 4px;
	-moz-border-radius: 4px; 
  -webkit-border-radius:4px;
  border:solid #ccc 1px;
  cursor:pointer;
  width:98%;
}

legend{
	  margin-left:4px;
	  height:34px;
	  line-height:34px;
	  color:#069;
	  font-weight:700;
	  
}

.Module_fieldset_buttons{
	  position: absolute; 
    top: 4;
    right: 4;
    display:none;
	  height:36px;
	  line-height:36px;
}

.Module_fieldset_button{
	  float:right;
	  height:32px;
	  line-height:32px;
	  padding:0px 10px;
	  margin:2px 10px;
	  cursor:pointer;
	  
	  
	  border-radius: 4px;
	  -moz-border-radius: 4px; 
    -webkit-border-radius:4px;
    background-color:#069;
    color:#fff;
}

.Module_fieldset_button:active{
    -webkit-box-shadow:0 0 4px #0CC;  
    -moz-box-shadow:0 0 4px #0CC;  
    box-shadow:0 0 4px #0CC;  	
}

.Module_fieldset_content{
	overflow:hidden;
  zoom:1;
  min-height:40px;
}

.Module_fieldset_error{
	  color:red;
	  margin-left:40px;
	  font-size:14px;
	  font-weight:narmal;
	 
}

.Module_titleInput{
	
}

.Module_fieldset_html_textarea{
	width:100%;
	min-height:300px;
}

.Module_vedio_container{

}


.Module_vedio_discription{
	  margin-top:12px;
	  
}

.Module_vedio_discription_item{
	  float:left;
	  margin-right:20px;
}

.Module_vedio_discription_item span{
    color:#069;
    font-weight:400;	
}