.Input_container {
	margin: 5px;
	float: left;
	clear: both;
}

.Input_top {
	width: 100%;
}

.Input_title {
	float: left;
	margin-left: 10px;
	height: 24px;
	line-height: 24px;
	min-width: 60px;
	color: #284452;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
}

.Input_hint {
	float: left;
	margin-left: 24px;
	height: 24px;
	line-height: 24px;
	color: #CCC;
	text-align: left;
	font-size: 14px;
}

.Input_hint_error {
	color: red;
}

.Input_ipt_error {
	-webkit-box-shadow: #FF0000 0px 0px 2px;
	-moz-box-shadow: #FF0000 0px 0px 2px;
	box-shadow: #FF0000 0px 0px 2px;
}

.Input_item {
	float: left;
	width: 100%;
}

.Input_ipt {
	width: 100%;
	min-height: 30px;
	padding-left: 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: solid #5c6670 1px;
	overflow: auto;
}

.Item_container {
	float: left;
	width: 100%;
	padding-left: 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: solid #5c6670 1px;
}

.Item_toolbar {
	float: left;
	width: 100%;
	border-bottom: dashed #5c6670 1px;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.Item_toolbar_button {
	min-width: 64px;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: gray;
	margin-top: 5px;
	font-size: 14px;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 10px;
	-webkit-box-shadow: #666 0px 0px 5px;
	-moz-box-shadow: #666 0px 0px 5px;
	box-shadow: #666 0px 0px 5px;
}

.Price_inputsContainer {
	float: left;
	width: 100%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: solid #5c6670 1px;
}

.Price_price {
	height: 30px;
	text-align: right;
	border: 0px;
	margin-left: 10px;
}

.Price_unit {
	height: 30px;
	width: 48px;
	border: 0px;
}

.Selector_values {
	
}

.Selector_item_icon {
	float: left;
	margin-right: 20px;
}

.Selector_Items_Container {
	position: absolute;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	background-color: #FFFFFF;
	border: solid #5c6670 1px;
	border-top: 0px;
}

.Selector_Item {
	padding: 10px;
	color: #006699;
}

.Selector_Item_selected {
	padding: 10px;
	color: #006699;
}

.Selector_Item:hover {
	background-color: #ddd;
	color: #006699;
}

.Selector_value {
	float: left;
	margin-right: 10px;
	height: 30px;
	line-height: 30px;
}

.multiCityPickerResultContainer {
	background-color: #e9e9e9;
	border-color: #ddd;
	color: #333;
	text-shadow: 0 1px 0 #eee;
	font-weight: 700;
	-webkit-border-radius: .3125em;
	border-radius: .3125em;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
	background-clip: padding-box;
	padding: 4px;
}

